/* Gooogle fonts- Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
  font-family: 'Poppins', sans-serif;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebd0b8;
}
.profile-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 370px;
  width: 100%;
  background: rgb(250, 211, 197);
  border-radius: 24px;
  padding: 25px;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);
  position: relative;

}

.profile-card::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 36%;
  width: 100%;
  border-radius: 24px 24px 0 0 ;
  background-color: rgb(238, 124, 82);

}
.image{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ff4400;
  padding: 3px;
  margin-bottom: 10px;

}

.image .profile-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2.5px solid rgb(248, 133, 1);
}

.profile-card .text-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-data .name{
  font-size: 25px;
  font-weight: 500;
}

.text-data .job{
  font-size: 15px;
  font-weight: 400;
}

.profile-card .media-button{
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.media-button .link{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  height: 34px ;
  weight: 34px;
  padding:8px;
  margin: 0 8px;
  border-radius: 50%;
  background: #4070f4;
  text-decoration: none;
}

.profile-card .buttons{

  display: flex;
  align-items: center;
  margin-top: 25px;
}

.buttons .button{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-radius: 24px;
  margin: 0 10px;
  padding: 8px 24px;
  background-color: orangered;
  cursor: pointer;
  transition: all 0.5s ease;
}

.buttons .button:hover{
  background-color:rgb(238, 124, 82);
  color: black;
}

.profile-card .analysis{
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.analysis .data{
  display: flex;
  align-items: center;
  color: #0d0d0d;
  padding: 0 20px;
  border-right: 2px solid #e7e7e7;
}

.data i {
  font-size: 18px;
  margin-right: 6px;
}

.data:last-child{
  border: none;
}

.media-button .link{
    transition: 1s;
}
.media-button .link:hover{
    color: rgb(4, 4, 4);
}
.analysis .number{
    transition: 1s;
}
.analysis .number:hover{
    color: rgb(255, 0, 0);
}